{{extend 'layout.html'}}

<script>
    // Set correct menu view.
    $('#menu-heatmap').addClass('active');
</script>

<h3 class="title1">Heat Map</h3>

{{if not session.logged:}}
<div class="alert alert-danger" role="alert">
    <strong>Error: </strong>You must be logged to view this page!
</div>
{{else:}}

{{if ('alert_type' in globals()) and alert_type != "":}}
<div class="alert alert-{{=alert_type}}" role="alert">
    <strong>
    {{if alert_type == "danger":}}Error:
    {{elif alert_type == "success":}}Success:
    {{elif alert_type == "info":}}Info:
    {{elif alert_type == "warning":}}Warning:
    {{pass}}
    </strong>{{=alert_message}}
</div>
{{pass}}

<!-- Time Range Form -->
<div class="forms inline-form widget-shadow">
    <div class="form-title">
        <h4>Controls</h4>
    </div>
    <div class="form-body">
        <div data-example-id="simple-form-inline">
            <form class="form-inline">
                <div class="form-group">
                    <label for="datetime-beginning">From:</label>
                    <input type="text" name="beginning" id="datetime-beginning" class="datetimepicker form-control">
                </div>
                <div class="form-group">
                    <label for="datetime-end">To:</label>
                    <input type="text" name="end" id="datetime-end" class="datetimepicker form-control">
                </div>
                <div class="form-group">
                    <label for="spf">Seconds per frame:</label>
                    <input type="number" name="spf" id="spf" value="5" style="text-align: right;">
                </div>
                <div class="form-group">
                    <label for="anim">Animate:</label>
                    <input type="checkbox" name="anim" id="anim">
                </div>
                <div class="form-group">
                    <label for="slider" style="position:relative; top:10px">Value:</label>
                    <div name="slider" id="slider" style="width: 250px;margin-right: 70px;position: relative;bottom: 10px;left: 64px;"></div>
                </div>
                <div class="form-group">
                    <label for="cidr">CIDR:</label>
                    <input type="text" name="cidr" id="cidr">
                </div>
                <button type="button" class="btn btn-default" onclick="loadAllCharts();false;">Draw</button>
            </form>
        </div>
    </div>
</div>
<!-- //Time Range Form -->

<!-- Statistics Chart -->
<div class="panel-info widget-shadow general chart-protocols-statistics">
    <h4 class="title2">Charts</h4>

    <ul id="chart-type-selector" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#chart-flows-panel" id="chart-flows-tab" role="tab" data-toggle="tab"
               aria-controls="chart-flows-panel" aria-expanded="true">Flows</a>
        </li>
        <li role="presentation" class="">
            <a href="#chart-doccount-panel" id="chart-doccount-tab" role="tab" data-toggle="tab"
               aria-controls="chart-doccount-panel" aria-expanded="true">Document Count</a>
        </li>
        <!--
        <li role="presentation" class="">
			<a href="#chart-packets-panel" id="chart-packets-tab" role="tab" data-toggle="tab" aria-controls="chart-packets-panel" aria-expanded="false">Packets</a>
		</li>
        <li role="presentation" class="">
			<a href="#chart-bytes-panel" id="chart-bytes-tab" role="tab" data-toggle="tab" aria-controls="chart-bytes-panel" aria-expanded="false">Bytes</a>
		</li>
		-->
    </ul>

    <div id="chart-panels" class="tab-content scrollbar1" style="min-height: 540px;">
        <!-- Flows -->
        <div role="tabpanel" class="tab-pane fade active in" id="chart-flows-panel" aria-labelledby="chart-flows-tab">
            <!-- Status -->
            <div class="chart-status" id="chart-flows-status"></div>
            <!-- Main Chart -->
            <div id="chart-flows" class="zingchart"></div>
        </div>
        <!-- Document Count -->
        <div role="tabpanel" class="tab-pane fade" id="chart-doccount-panel" aria-labelledby="chart-doccount-tab">
            <!-- Status -->
            <div class="chart-status" id="chart-doccount-status"></div>
            <!-- Main Chart -->
            <div id="chart-doccount" class="zingchart"></div>
        </div>
        <!-- Packets -->
        <div role="tabpanel" class="tab-pane fade" id="chart-packets-panel" aria-labelledby="chart-packets-tab">
            <!-- Status -->
            <div class="chart-status" id="chart-packets-status"></div>
            <!-- Main Chart -->
            <div id="chart-packets" class="zingchart"></div>
        </div>
        <!-- Bytes -->
        <div role="tabpanel" class="tab-pane fade" id="chart-bytes-panel" aria-labelledby="chart-bytes-tab">
            <!-- Status -->
            <div class="chart-status" id="chart-bytes-status"></div>
            <!-- Main Chart -->
            <div id="chart-bytes" class="zingchart"></div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>

<style>
    /* Hack to see the whole watermark */
    #chart-flows-license-text, #chart-packets-license-text, #chart-bytes-license-text {
        margin-left: -20px !important;
    }
</style>
<!-- //Statistics Chart -->


<!-- Load Custom Scripts -->
<script src="{{=URL('static','js/custom/datetime_interval.js')}}"></script>
<script src="{{=URL('static','js/common/d3.v3.js')}}"></script>
<script src="{{=URL('static','js/common/string-format.js')}}"></script>
<script src="{{=URL('static','js/common/parseCIDRRange.js')}}"></script>
<script src="{{=URL('static','js/charts/d3heatmap.js')}}"></script>
<script src="{{=URL('static','js/custom/heatmap.js')}}"></script>
<script src="{{=URL('static','js/common/nouislider.min.js')}}"></script>
<!-- //Load Custom Scripts -->

{{pass}}